<div class="center jumbotron" id="home-page">
  <h1>Oh, the Places You'll Go!</h1>
  <br>
  <h2>
    Keep track of the places you've been to and share them with friends!
  </h2>
  <br>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary outline", id: "button" %>
  <br>
  <br>
  <br>
  <br>
  <i class="fa fa-plane fa-5x"></i>
</div>
