<header class="navbar navbar-fixed-top">
  <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   home_path %></li>
            <% puts "hello?"%>
            <% puts current_user%>
            <% puts session[:user_id] == nil%>
  <% if session[:user_id] != nil%>
            <li><%= link_to "Sign out", logout_path %></li>
            <% else %>
            <li><%= link_to "Sign up", signup_path %></li>
            <li><%= link_to "Login", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
</header>